* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

main {
  background-color: brown;
}

.headerino {
  height: 100vh;
  background-color: brown;
}

.logo {
  height: 8rem;
  text-align: center;
}

.logo img {
  padding-top: 15px;
  height: 90%;
}

.naverino {
  margin: auto;
  width: 80%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  border-bottom: thin solid white;
}

.bullet-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li a {
  text-decoration: none;
  font-weight: 900;
  padding: 3rem;
  color: white;
}

.hero {
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*overflow: hidden;*/
}

.hero-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img img {
  width: 75%;
}

.hero-text {
  width: 50%;
  font-size: 2.4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: whitesmoke;
}

/*Especiales*/

.especiales {
  height: 100vh;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.estruct-specials {
  display: flex;
  justify-content: center;
}

.cont-specials {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.especiales h2 {
  font-size: 3rem;
  padding-bottom: 20px;
  margin-top: -20px;
}

.card1 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 250px 150px 50px;
  grid-template-areas: "img" "text" "price";
  background-color: whitesmoke;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  border-radius: 18px;
  text-align: center;
}

.image {
  grid-area: img;
  width: 300px;
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.image img {
  height: 100%;
}

.img-text {
  grid-area: text;
  width: 90%;
  margin: 0px auto;
  padding-top: 10px;
  color: rgb(31, 31, 31);
  justify-content: center;
}

.img-text h3,
h4,
p {
  font-family: "Indie Flower", cursive;
}

.img-text h3 {
  font-weight: 900;
  font-size: 1.6rem;
}

.price {
  grid-area: price;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(160, 22, 22);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.price h4 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

/*Colaciones*/

.colaciones {
  height: 100vh;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colaciones h2 {
  font-size: 3rem;
  padding-bottom: 20px;
}

/*.estruc-colaciones {
  display: grid;
  height: 100vh;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 100px 100px 100px 100px;
  border-style: solid black;
}

.colaciones h2 {
  font-size: 3rem;
  padding-bottom: 20px;
}

.card-colaciones {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
}

.img-colaciones {
  width: 80px;
  height: 120px;
}

.img-colaciones img {
  width: 100%;
  overflow: hidden;
}

.text-colaciones {
  width: 200px;
  height: 80px;
}

*/

.estruct-colaciones {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 8px;
  justify-content: center;
}

.card-colaciones {
  width: 400px;
  height: 150px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
}
.img-colaciones {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.img-colaciones img {
  height: 100%;
  display: block;
}

.text-colaciones {
  padding-top: 12px;
  color: rgb(31, 31, 31);
  width: 250px;
  height: 150px;
}

/*Recetas*/

.recetas {
  height: 100vh;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recetas h2 {
  font-size: 3rem;
  padding-bottom: 20px;
}

/*Visitas*/

.visitas {
  height: 100vh;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visitas h2 {
  font-size: 3rem;
  padding-bottom: 20px;
}
